<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/56ab3192f1.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgb(128,138,135);
        }
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename = 'images/The-Blades-Logo.png') }}" alt="Bootstrap" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('news')}}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gallery')}}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('concerts')}}">Concerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact')}}">Contact Us</a>
                </li>
            </ul>
        </div>
        <p id="name"></p>
    </div>
</nav>

<div class="col-lg-4 col-md-8 col-sm-10 mb-5 container-fluid bg-light mt-5 text-center" style="box-shadow:1px 5px 25px 10px black;">
    <h3 class="text-center">Our lead singer Steven just adopted a retired greyhound!</h3>
    <aside>
        The lead singer of "The Blades" Steven is known to have a love for animals. He is mostly seen around the streets of dublin walking
        his two <a href="https://en.wikipedia.org/wiki/Husky">Huskies</a>. Steven's passion for dogs has led him to
        donating almost half a million euros to <a href="https://www.dogstrust.ie/">DogsTrust</a> where he helped
        provide new homes for hundreds of canines as well as providing equipment and food to those dogs that are
        currently still in care. Of course Steven is always looking to add new members to his furry family including the
        recently rescued <a href="https://en.wikipedia.org/wiki/Greyhound">Greyhound</a> Pippin. Pippin was
        rescued from a dog shelter in belfast where he lived for nearly 6 months until he was taken into care
        by Steven.
    </aside>
    <h6>Poppy</h6>
    <img class="mb-5 slide-border news-image" src="{{ url_for('static', filename = 'images/OIP (1).png') }}" alt="" />
    <h6>Sam</h6>
    <img class="mb-5 slide-border news-image" src="{{ url_for('static', filename = 'images/big_image.jpeg') }}" alt="" style="width:474px; height:632px;" />
    <h6>Pippin</h6>
    <img class="mb-5 slide-border news-image" src="{{ url_for('static', filename = 'images/Italian-greyhound3.png') }}" style="width:474px; height:400px;" />
</div>

{% endblock %}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>